<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Resultados</h3>
        <p class="mt-1 text-sm text-gray-600">
          Esses são os valores que devem constar na sua nota fiscal
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <div class="grid grid-cols-6">
            <div class="col-span-3 sm:col-span-2">
              Base de cálculo do ICMS:
            </div>

            <div class="col-span-3 sm:col-span-2">
              <%= number_to_currency base_de_calculo_icms %>
            </div>
          </div>

          <div class="grid grid-cols-6">
            <div class="col-span-3 sm:col-span-2">
              Valor do ICMS interestadual:
            </div>

            <div class="col-span-3 sm:col-span-2">
              <%= number_to_currency valor_icms_operacao %>
            </div>
          </div>

          <div class="grid grid-cols-6">
            <div class="col-span-3 sm:col-span-2">
              Base de cálculo do ICMS ST:
            </div>

            <div class="col-span-3 sm:col-span-2">
              <%= number_to_currency base_de_calculo_icms_st %>
            </div>
          </div>

          <div class="grid grid-cols-6">
            <div class="col-span-3 sm:col-span-2">
              Valor do ICMS ST:
            </div>

            <div class="col-span-3 sm:col-span-2">
              <%= number_to_currency valor_icms_st %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
